/*

title: additem.html Styles
author: Shawn R. Morgart
for: Visual Frameworks 1110: Project 2

*/

body {
    background-image: url(images/blue-scratched-texture.jpg);  

/*    background-image: url(images/ios-linen.jpg);     */
}

form {
    padding: 40px 20px 40px 20px;
    margin: 20px 180px 20px 20px;
    border: outset #666666;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-box-shadow: 10px 10px 10px #000000;
        -webkit-box-shadow: 10px 10px 20px #000000;
    background-image: url(images/ios-linen.jpg);
    width: 640;
    

/*    background-image: url(images/blue-scratched-texture.jpg);   */
}

h1 {
    margin: auto;
    border: 5px outset #020141;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-box-shadow: 10px 10px 10px #000000;
        -webkit-box-shadow: 10px 10px 20px #000000;
    padding: 10px 10px 10px 20px;
    background-color: #999999;
    text-align: center;
    width: 640px;
    
}

h2 {
    margin: auto;
    border: 5px outset #020141;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-box-shadow: 10px 10px 10px #000000;
        -webkit-box-shadow: 10px 10px 20px #000000;
    padding: 10px 10px 10px 20px;
    background-color: #999999;
    text-align: center;
    width: 640px;
}

h4 {
    color: #001C5E;
}

fieldset {
    margin: auto;
    margin-top: 20px;
    border: 5px outset #020141;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-box-shadow: 10px 10px 10px #000000;
        -webkit-box-shadow: 10px 10px 20px #000000;
    padding-left: 20px;
    width: 480px;
    background-color: #999999;
    
}

li {
    list-style-type: none;
}

legend {
    margin: 20px;
    border: 5px outset #020141;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-box-shadow: 5px 5px 5px #000000;
        -webkit-box-shadow: 5px 5px 5px #000000;
    padding: 3px; 
    background-color: #999999;
    width: auto;
    font-size: 16px;
    font-weight: normal;
}

input {
    color: #020141;
    margin: 5px 5px 5px 20px;
    background-color: #FAFAFF;
    border: 3px outset #020141;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
/*        -moz-box-shadow: 10px 10px 10px #000000;
        -webkit-box-shadow: 10px 10px 20px #000000;
*/        
    padding: 5px;
}


a {
    margin: 5px 5px 5px 20px;
    border: 5px outset #020141;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-box-shadow: 10px 10px 10px #000000;
        -webkit-box-shadow: 10px 10px 20px #000000;    
    background-color: #999999;
    padding: 5px;
    
}

a:hover {color: red;}

div {
    padding: 40px 20px 40px 20px;
    margin: 20px 180px 20px 20px;
    border: outset #666666;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-box-shadow: 10px 10px 10px #000000;
        -webkit-box-shadow: 10px 10px 20px #000000;
    background-image: url(images/ios-linen.jpg);

 /*   background-image: url(images/blue-scratched-texture.jpg);     */
}

span {
    color: #5F0D00;
    margin: 0px 0px 25px 10px;
    border: inset #FAFAFF;
    background-color: #FAFAFF;
}






