/*

title: additem.html Styles
author: Shawn R. Morgart
for: Visual Frameworks 1110: Project 2



body {
    background-image: url(images/blue-scratched-texture.jpg);  

}

form {
    margin: 20px 180px 20px 20px;
    border: outset #666666;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-box-shadow: 10px 10px 10px #000000;
        -webkit-box-shadow: 10px 10px 20px #000000;
    background-image: url(images/ios-linen.jpg);
    width: auto;
}

h1 {
    font:2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    margin: 0px 0px 0px 5px;
    border: 5px outset #020141;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;    
        -moz-box-shadow: 10px 10px 10px #000000;
        -webkit-box-shadow: 10px 10px 20px #000000;
    background-color: #999999;
    padding: 5px;
    text-align: center;
    width: auto;
    font-size: 18px;
    
}

h2 {
    margin: auto;
    border: 5px outset #020141;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-box-shadow: 10px 10px 10px #000000;
        -webkit-box-shadow: 10px 10px 20px #000000;
    padding: 10px 10px 10px 20px;
    background-color: #999999;
    text-align: center;
    font-size: medium;
    width: auto;
}

h3 {
    color: yellow;
}

h4 {
    color: #001C5E;
}

fieldset {
    margin: auto;
    margin-top: 20px;
    border: 5px outset #020141;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-box-shadow: 10px 10px 10px #000000;
        -webkit-box-shadow: 10px 10px 20px #000000;
    
    width: auto;
    background-color: #999999;
    background-image: url(images/ios.linen.jpg);
    
}

li {
    list-style-type: none;
}

legend {
    margin: 20px;
    border: 5px outset #020141;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-box-shadow: 5px 5px 5px #000000;
        -webkit-box-shadow: 5px 5px 5px #000000;
    padding: 3px; 
    background-color: #999999;
    width: auto;
    font-size: 16px;
    font-weight: normal;
}

input {
    color: #020141;
    margin: 5px 5px 5px 5px;
    background-color: #FAFAFF;
    border: 3px inset #020141;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-box-shadow: 10px 10px 10px #000000;
        -webkit-box-shadow: 10px 10px 20px #000000;

    padding: 5px;
}

input#search {
    
    margin: 20px 0px 20px 2px;
    width: 180px;
}


a {
    font:2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    background:
        -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
        -moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
    border: outset #666666;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-box-shadow: 10px 10px 10px #000000;
        -webkit-box-shadow: 10px 10px 20px #000000;
    font-size: small;
    padding: 5px;
    color: darkblue;
    margin: 30px 0px 30px 2px;
    height: auto;
    width: 145px;
    
}


div {
    padding: 5px;
    margin: auto;
    border: outset #666666;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-box-shadow: 10px 10px 10px #000000;
        -webkit-box-shadow: 10px 10px 20px #000000;
    background-image: url(images/ios-linen.jpg);
    width: auto;

   background-image: url(images/blue-scratched-texture.jpg);
}

span {
    color: yellow;
    
}

.errormsg {
    background: #ff0000;
    color: #fff;
    font-weight: bold;
}

select {
    margin: 10px;
}
*/
img {
    margin-top: 5px;
    width: 320px;
    height: 100px;
}
/*
input { font-size: 14px; font-weight: bold;  }

input[type=range]:before { content: attr(min); padding-right: 5px; }

input[type=range]:after { content: attr(max); padding-left: 5px;}

output {
display: block;
font-size: 5.5em;
font-weight: bold;
}

button#new {
    font:2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    margin: 0px 0px 30px 2px;
    height: 45px;
    width: 300px;
    background:
        -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
        -moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
    border: outset #666666;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-box-shadow: 10px 10px 10px #000000;
        -webkit-box-shadow: 10px 10px 20px #000000;
    font-size: larger;

}

button#sbutton {
    font:2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    margin: 5px 2px 5px 0px;
    height: auto;
    width: 100px;
    background:
        -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
        -moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
    border: outset #666666;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-box-shadow: 10px 10px 10px #000000;
        -webkit-box-shadow: 10px 10px 20px #000000;
    font-size: small;
    padding: 5px;
}

button {
    font:2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    margin: 5px 0px 5px 2px;
    height: auto;
    width: 145px;
    background:
        -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
        -moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
    border: outset #666666;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-box-shadow: 10px 10px 10px #000000;
        -webkit-box-shadow: 10px 10px 20px #000000;
    font-size: small;
    padding: 2px;

}

*/



